In [222]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib inline
import pickle as pickle
# 이거 데이터프레임 숫자 표시 개수 정해주는 거
pd.options.display.float_format = '{:.4f}'.format
import warnings
warnings.filterwarnings('ignore')
import matplotlib.gridspec as gridspec

In [223]:
dev_loss_st = pd.read_csv('/opt/ml/code/prediction/0_dev_loss_st.csv')
train = pd.read_csv('/opt/ml/dataset/train/train.csv')
test = pd.read_csv('/opt/ml/code/prediction/0_test_st.csv')

In [3]:
test=test.drop(columns='gold_label')

In [4]:
test['probs'].apply(lambda x: str(np.append([1],np.zeros_like(eval(test.iloc[0,2]))[:-1])))

0       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
1       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
2       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
3       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
4       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
                              ...
7760    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7761    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7762    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7763    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7764    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
Name: probs, Length: 7765, dtype: object

In [5]:
test['probs'].apply(lambda x: str([0]*30))

0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
7760    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7761    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7762    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7763    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7764    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: probs, Length: 7765, dtype: object

In [6]:
# test.to_csv('/opt/ml/code/prediction/24 new_meta_binary2.csv',index=False)

In [7]:
num_label = []
label = dev_loss_st['gold_label'].unique()
with open('/opt/ml/code/dict_label_to_num.pkl', 'rb') as f:
    dict_label_to_num = pickle.load(f)
    for v in label:
        num_label.append(dict_label_to_num[v])

In [8]:
pd.DataFrame([dict_label_to_num])

,no_relation,org:top_members/employees,org:members,org:product,per:title,org:alternate_names,per:employee_of,org:place_of_headquarters,per:product,org:number_of_employees/members,...,org:member_of,per:parents,org:dissolved,per:schools_attended,per:date_of_death,per:date_of_birth,per:place_of_birth,per:place_of_death,org:founded_by,per:religion
0,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29

In [23]:
def train_pred(train):
    subjt=train['subject_entity'].apply(lambda x: pd.Series(eval(x))).add_prefix('subj_')
    objt=train['object_entity'].apply(lambda x: pd.Series(eval(x))).add_prefix('obj_')
    full_train = pd.concat([train[['id','sentence','source','label']],subjt,objt],axis=1)
    del subjt,objt
    return full_train

In [24]:
full_train=train_pred(train)

In [25]:
train.head(5)

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia

In [26]:
full_train.head(5)

,id,sentence,source,label,subj_word,subj_start_idx,subj_end_idx,subj_type,obj_word,obj_start_idx,obj_end_idx,obj_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,wikipedia,no_relation,비틀즈,24,26,ORG,조지 해리슨,13,18,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,wikitree,no_relation,민주평화당,19,23,ORG,대안신당,14,17,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,wikitree,org:member_of,광주FC,21,24,ORG,한국프로축구연맹,34,41,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,wikitree,org:top_members/employees,아성다이소,13,17,ORG,박정부,22,24,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,wikipedia,no_relation,요미우리 자이언츠,22,30,ORG,1967,0,3,DAT

In [27]:
full_train[full_train['subj_type']=='PER']['obj_type'].unique()

array(['DAT', 'ORG', 'LOC', 'POH', 'PER', 'NOH'], dtype=object)

In [28]:
full_train[full_train['subj_type']=='ORG']['obj_type'].unique()

array(['PER', 'ORG', 'DAT', 'LOC', 'POH', 'NOH'], dtype=object)

In [30]:
full_train[(full_train['subj_type']=='PER')&(full_train['subj_type']=='PER')]['label'].unique()

array(['per:date_of_birth', 'per:employee_of', 'per:origin', 'per:title',
       'no_relation', 'per:schools_attended', 'per:colleagues',
       'per:alternate_names', 'per:spouse', 'per:children',
       'per:place_of_birth', 'per:parents', 'per:religion',
       'per:date_of_death', 'per:place_of_residence', 'per:other_family',
       'per:siblings', 'per:product', 'per:place_of_death', 'org:members',
       'org:top_members/employees', 'org:founded_by',
       'org:place_of_headquarters'], dtype=object)

In [33]:
full_train['bi_label'] = full_train['label'].apply(lambda x: x=='no_relation' if x, 'relation'))

AttributeError: 'str' object has no attribute 'where'

In [ ]:
multi -> per : per / label 5개 아니면 no relation

In [4]:
a=train[train['subject_entity'].apply(lambda x: eval(x)['type']=='PER')]

In [7]:
b = train[train['object_entity'].apply(lambda x: eval(x)['type']=='PER')]

In [12]:
c = pd.merge(a,b,how='inner')

In [14]:
c

,id,sentence,subject_entity,object_entity,label,source
0,20,1971년 대선을 앞두고 김종필은 1971년 선거에서 박정희 당선을 위해 무려 60...,"{'word': '김종필', 'start_idx': 14, 'end_idx': 16...","{'word': '박정희', 'start_idx': 30, 'end_idx': 32...",per:colleagues,wikipedia
1,21,2010년에는 아시아 가수 최초로 마이클 잭슨의 곡을 리메이크하였는데 당시 마이클 ...,"{'word': '스티브 바라캇', 'start_idx': 67, 'end_idx'...","{'word': 'Steve Barakatt', 'start_idx': 75, 'e...",per:alternate_names,wikipedia
2,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",per:spouse,wikipedia
3,25,"SK는 또 ""해당 방송에서 언급한 지난해 12월5일 가로세로연구소 유튜브 방송 또한...","{'word': '노소영', 'start_idx': 110, 'end_idx': 1...","{'word': '최태원', 'start_idx': 67, 'end_idx': 69...",per:spouse,wikitree
4,27,"1824년에 있었던 첫 졸업식에는 대통령 제임스 먼로와 존 C. 칼훈, 헨리 클레이...","{'word': '존 C. 칼훈', 'start_idx': 31, 'end_idx'...","{'word': '제임스 먼로', 'start_idx': 23, 'end_idx':...",no_relation,wikipedia
...,...,...,...,...,...,...
5004,32438,"간 나오토는 총리 취임에 즈음해 당 간사장에 에다노 유키오, 내각관방장관에 센고쿠 ...","{'word': '에다노 유키오', 'start_idx': 25, 'end_idx'...","{'word': '센고쿠 요시토', 'start_idx': 42, 'end_idx'...",no_relation,wikipedia
5005,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...","{'word': '정종원', 'start_idx': 12, 'end_idx': 14...","{'word': '정재학', 'start_idx': 3, 'end_idx': 5, ...",per:parents,wikipedia
5006,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,"{'word': '선덕여왕', 'start_idx': 101, 'end_idx': ...","{'word': '진덕여왕', 'start_idx': 95, 'end_idx': 9...",no_relation,wikipedia
5007,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
5008,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia

In [15]:
c[c['object_entity'].apply(lambda x: eval(x)['type']=='PER')]

,id,sentence,subject_entity,object_entity,label,source
0,20,1971년 대선을 앞두고 김종필은 1971년 선거에서 박정희 당선을 위해 무려 60...,"{'word': '김종필', 'start_idx': 14, 'end_idx': 16...","{'word': '박정희', 'start_idx': 30, 'end_idx': 32...",per:colleagues,wikipedia
1,21,2010년에는 아시아 가수 최초로 마이클 잭슨의 곡을 리메이크하였는데 당시 마이클 ...,"{'word': '스티브 바라캇', 'start_idx': 67, 'end_idx'...","{'word': 'Steve Barakatt', 'start_idx': 75, 'e...",per:alternate_names,wikipedia
2,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",per:spouse,wikipedia
3,25,"SK는 또 ""해당 방송에서 언급한 지난해 12월5일 가로세로연구소 유튜브 방송 또한...","{'word': '노소영', 'start_idx': 110, 'end_idx': 1...","{'word': '최태원', 'start_idx': 67, 'end_idx': 69...",per:spouse,wikitree
4,27,"1824년에 있었던 첫 졸업식에는 대통령 제임스 먼로와 존 C. 칼훈, 헨리 클레이...","{'word': '존 C. 칼훈', 'start_idx': 31, 'end_idx'...","{'word': '제임스 먼로', 'start_idx': 23, 'end_idx':...",no_relation,wikipedia
...,...,...,...,...,...,...
5004,32438,"간 나오토는 총리 취임에 즈음해 당 간사장에 에다노 유키오, 내각관방장관에 센고쿠 ...","{'word': '에다노 유키오', 'start_idx': 25, 'end_idx'...","{'word': '센고쿠 요시토', 'start_idx': 42, 'end_idx'...",no_relation,wikipedia
5005,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...","{'word': '정종원', 'start_idx': 12, 'end_idx': 14...","{'word': '정재학', 'start_idx': 3, 'end_idx': 5, ...",per:parents,wikipedia
5006,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,"{'word': '선덕여왕', 'start_idx': 101, 'end_idx': ...","{'word': '진덕여왕', 'start_idx': 95, 'end_idx': 9...",no_relation,wikipedia
5007,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
5008,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia

In [16]:
c

,id,sentence,subject_entity,object_entity,label,source
0,20,1971년 대선을 앞두고 김종필은 1971년 선거에서 박정희 당선을 위해 무려 60...,"{'word': '김종필', 'start_idx': 14, 'end_idx': 16...","{'word': '박정희', 'start_idx': 30, 'end_idx': 32...",per:colleagues,wikipedia
1,21,2010년에는 아시아 가수 최초로 마이클 잭슨의 곡을 리메이크하였는데 당시 마이클 ...,"{'word': '스티브 바라캇', 'start_idx': 67, 'end_idx'...","{'word': 'Steve Barakatt', 'start_idx': 75, 'e...",per:alternate_names,wikipedia
2,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",per:spouse,wikipedia
3,25,"SK는 또 ""해당 방송에서 언급한 지난해 12월5일 가로세로연구소 유튜브 방송 또한...","{'word': '노소영', 'start_idx': 110, 'end_idx': 1...","{'word': '최태원', 'start_idx': 67, 'end_idx': 69...",per:spouse,wikitree
4,27,"1824년에 있었던 첫 졸업식에는 대통령 제임스 먼로와 존 C. 칼훈, 헨리 클레이...","{'word': '존 C. 칼훈', 'start_idx': 31, 'end_idx'...","{'word': '제임스 먼로', 'start_idx': 23, 'end_idx':...",no_relation,wikipedia
...,...,...,...,...,...,...
5004,32438,"간 나오토는 총리 취임에 즈음해 당 간사장에 에다노 유키오, 내각관방장관에 센고쿠 ...","{'word': '에다노 유키오', 'start_idx': 25, 'end_idx'...","{'word': '센고쿠 요시토', 'start_idx': 42, 'end_idx'...",no_relation,wikipedia
5005,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...","{'word': '정종원', 'start_idx': 12, 'end_idx': 14...","{'word': '정재학', 'start_idx': 3, 'end_idx': 5, ...",per:parents,wikipedia
5006,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,"{'word': '선덕여왕', 'start_idx': 101, 'end_idx': ...","{'word': '진덕여왕', 'start_idx': 95, 'end_idx': 9...",no_relation,wikipedia
5007,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
5008,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia

In [17]:
train

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [19]:
train[train['label']!='no_relation']

,id,sentence,subject_entity,object_entity,label,source
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
5,5,": 유엔, 유럽 의회, 북대서양 조약 기구 (NATO), 국제이주기구, 세계 보건 ...","{'word': '북대서양 조약 기구', 'start_idx': 13, 'end_i...","{'word': 'NATO', 'start_idx': 25, 'end_idx': 2...",org:alternate_names,wikipedia
7,7,"박용오(朴容旿, 1937년 4월 29일(음력 3월 19일)(음력 3월 19일) ~ ...","{'word': '박용오', 'start_idx': 0, 'end_idx': 2, ...","{'word': '1937년 4월 29일', 'start_idx': 9, 'end_...",per:date_of_birth,wikipedia
8,8,중공군에게 온전히 대항할 수 없을 정도로 약해진 국민당은 타이베이로 수도를 옮기는 ...,"{'word': '중화민국', 'start_idx': 59, 'end_idx': 6...","{'word': '타이베이', 'start_idx': 32, 'end_idx': 3...",org:place_of_headquarters,wikipedia
...,...,...,...,...,...,...
32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [33]:
t=np.zeros(30)

In [37]:
TEST_LABEL_TO_ID = {'no_relation':0, 'org:top_members/employees':1, 'org:members':2, 'org:product':3, 
'per:title':4,}

In [38]:
TEST_LABEL_TO_ID['no_relation']

0

In [39]:
zeros = np.zeros(30)

In [40]:
label_idx = [1, 3, 5, 7]

In [86]:
test.loc[test['id'] == 0, 'pred_label'] = -500

In [87]:
test

,id,gold_label,pred_label,probs,zeros
0,0,100,-500,"[0.0, 0.00057884311536327, 0.0, 0.000218044515...",0
1,1,100,per:alternate_names,"[0.0, 3.022115151907201e-06, 0.0, 4.5307548134...",0
2,2,100,no_relation,"[0.0, 0.9998899698257446, 0.0, 7.7153172242105...",0
3,3,100,per:other_family,"[0.0, 0.41120561957359314, 0.0, 0.000210893806...",0
4,4,100,org:top_members/employees,"[0.0, 0.0012245755642652512, 0.0, 0.9984153509...",0
...,...,...,...,...,...
7760,7760,100,no_relation,"[0.0, 0.6559950709342957, 0.0, 0.0007126444834...",0
7761,7761,100,no_relation,"[0.0, 0.999886155128479, 0.0, 4.99390716868219...",0
7762,7762,100,org:top_members/employees,"[0.0, 1.0821405339811463e-05, 0.0, 0.999811589...",0
7763,7763,100,no_relation,"[0.0, 0.9923446774482727, 0.0, 0.0001384720671...",0
7764,7764,100,no_relation,"[0.0, 0.9997212290763855, 0.0, 4.2581155867083...",0

In [85]:
test[test['id']==0]['pred_label']

0    org:members
Name: pred_label, dtype: object

In [84]:
test

,id,gold_label,pred_label,probs,zeros
0,0,100,org:members,"[0.0, 0.00057884311536327, 0.0, 0.000218044515...",0
1,1,100,per:alternate_names,"[0.0, 3.022115151907201e-06, 0.0, 4.5307548134...",0
2,2,100,no_relation,"[0.0, 0.9998899698257446, 0.0, 7.7153172242105...",0
3,3,100,per:other_family,"[0.0, 0.41120561957359314, 0.0, 0.000210893806...",0
4,4,100,org:top_members/employees,"[0.0, 0.0012245755642652512, 0.0, 0.9984153509...",0
...,...,...,...,...,...
7760,7760,100,no_relation,"[0.0, 0.6559950709342957, 0.0, 0.0007126444834...",0
7761,7761,100,no_relation,"[0.0, 0.999886155128479, 0.0, 4.99390716868219...",0
7762,7762,100,org:top_members/employees,"[0.0, 1.0821405339811463e-05, 0.0, 0.999811589...",0
7763,7763,100,no_relation,"[0.0, 0.9923446774482727, 0.0, 0.0001384720671...",0
7764,7764,100,no_relation,"[0.0, 0.9997212290763855, 0.0, 4.2581155867083...",0

In [60]:
test['zeros']

0       0
1       0
2       0
3       0
4       0
       ..
7760    0
7761    0
7762    0
7763    0
7764    0
Name: zeros, Length: 7765, dtype: int64

In [67]:
eval(test['probs'].iloc[0])[1] = 0.3333

In [70]:
eval(test['probs'].iloc[0])

[0.00057884311536327,
 0.0002180445153499022,
 0.9639279246330261,
 0.003564955433830619,
 7.976425695233047e-05,
 0.02826537750661373,
 1.8083310351357795e-05,
 0.00017945178842637688,
 2.440638309053611e-05,
 0.00044030899880453944,
 0.0001309694634983316,
 5.976915781502612e-05,
 6.130493420641869e-05,
 8.238356531364843e-05,
 4.882526627625339e-05,
 4.01366050937213e-05,
 4.160825483268127e-05,
 3.313729393994436e-05,
 2.060331462416798e-05,
 0.0012245550751686096,
 0.00017544497677590698,
 7.830125832697377e-05,
 4.6499018935719505e-05,
 7.592483598273247e-05,
 6.369133188854903e-05,
 7.97384709585458e-05,
 0.00016105372924357653,
 9.114169370150194e-05,
 0.0001346935605397448,
 5.309180050971918e-05]

In [47]:
test['probs'].apply(lambda x: [p for p in x])

0       [[, 0, ., 0, 0, 0, 5, 7, 8, 8, 4, 3, 1, 1, 5, ...
1       [[, 3, ., 0, 2, 2, 1, 1, 5, 1, 5, 1, 9, 0, 7, ...
2       [[, 0, ., 9, 9, 9, 8, 8, 9, 9, 6, 9, 8, 2, 5, ...
3       [[, 0, ., 4, 1, 1, 2, 0, 5, 6, 1, 9, 5, 7, 3, ...
4       [[, 0, ., 0, 0, 1, 2, 2, 4, 5, 7, 5, 5, 6, 4, ...
                              ...
7760    [[, 0, ., 6, 5, 5, 9, 9, 5, 0, 7, 0, 9, 3, 4, ...
7761    [[, 0, ., 9, 9, 9, 8, 8, 6, 1, 5, 5, 1, 2, 8, ...
7762    [[, 1, ., 0, 8, 2, 1, 4, 0, 5, 3, 3, 9, 8, 1, ...
7763    [[, 0, ., 9, 9, 2, 3, 4, 4, 6, 7, 7, 4, 4, 8, ...
7764    [[, 0, ., 9, 9, 9, 7, 2, 1, 2, 2, 9, 0, 7, 6, ...
Name: probs, Length: 7765, dtype: object

In [73]:
pred_probs = []
for idx, r in test.iterrows():
    zeros = np.zeros(30)
    for jdx, p in zip(label_idx, eval(r['probs'])):
        zeros[jdx] = p
    pred_probs.append(list(zeros))

In [75]:
test['probs']=pred_probs

In [94]:
test.loc[2,'pred_label']

'no_relation'

In [90]:
test

,id,gold_label,pred_label,probs,zeros
0,0,100,1,"[0, 303003]",0
1,1,100,per:alternate_names,"[0.0, 3.022115151907201e-06, 0.0, 4.5307548134...",0
2,2,100,no_relation,"[0.0, 0.9998899698257446, 0.0, 7.7153172242105...",0
3,3,100,per:other_family,"[0.0, 0.41120561957359314, 0.0, 0.000210893806...",0
4,4,100,org:top_members/employees,"[0.0, 0.0012245755642652512, 0.0, 0.9984153509...",0
...,...,...,...,...,...
7760,7760,100,no_relation,"[0.0, 0.6559950709342957, 0.0, 0.0007126444834...",0
7761,7761,100,no_relation,"[0.0, 0.999886155128479, 0.0, 4.99390716868219...",0
7762,7762,100,org:top_members/employees,"[0.0, 1.0821405339811463e-05, 0.0, 0.999811589...",0
7763,7763,100,no_relation,"[0.0, 0.9923446774482727, 0.0, 0.0001384720671...",0
7764,7764,100,no_relation,"[0.0, 0.9997212290763855, 0.0, 4.2581155867083...",0

In [102]:
train.iloc[[1,22,3]]

,id,sentence,subject_entity,object_entity,label,source
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
22,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",relation,wikipedia
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",relation,wikitree

In [103]:
from sklearn.model_selection import train_test_split, StratifiedKFold

In [105]:
cv = StratifiedKFold(n_splits=5, random_state=42, shuffle=True)

In [106]:
train

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",relation,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",relation,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",relation,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",relation,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",relation,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",relation,wikitree

In [111]:
def label_to_num(label):
    num_label = []
    with open('/opt/ml/code/dict_label_to_num.pkl', 'rb') as f:
        dict_label_to_num = pickle.load(f)
    for v in label:
        num_label.append(dict_label_to_num[v])

    return num_label

In [112]:
label = label_to_num(train['label'].values)

In [163]:
for idx , (train_idx , val_idx) in enumerate(cv.split(train,label)):
    # print(label)
    # train_label = np.array(label)[train_idx].tolist()
    # print(train_data)
    # print(train_label)
    train_id = train_idx
    traind_label = np.array(label)[train_idx].tolist()

In [150]:
type(val_label)

list

In [138]:
train_idx

array([    0,     1,     2, ..., 32466, 32468, 32469])

In [141]:
train.iloc[train_idx]

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [158]:
len(train_label)

25976

In [168]:
train.iloc[train_id]['label'].values

array(['no_relation', 'no_relation', 'org:member_of', ...,
       'per:colleagues', 'no_relation', 'org:top_members/employees'],
      dtype=object)

In [132]:
train_data, dev_data, train_label, dev_label = train_test_split(train, label, test_size=0.2, random_state=42, stratify=label)

In [133]:
train_data

,id,sentence,subject_entity,object_entity,label,source
10616,10616,"전현무 소속사 SM C&C는 ""'아나운서'라는 직업적 공통분모 속에서 선후배 간 좋...","{'word': '전현무', 'start_idx': 0, 'end_idx': 2, ...","{'word': 'SM C&C', 'start_idx': 8, 'end_idx': ...",per:employee_of,wikitree
20347,20347,"또한, 자유한국당 나경원 의원과 송언석 의원의 보좌관을 지내며 지역 민원과 예산을 ...","{'word': '이철우', 'start_idx': 54, 'end_idx': 56...","{'word': '자유한국당', 'start_idx': 4, 'end_idx': 8...",per:employee_of,wikitree
7979,7979,"지난 설명절 연휴기간에는 전동평 영암군수, 유나종 군의회부의장, 오정현 농협영암군지...","{'word': '영암군', 'start_idx': 91, 'end_idx': 93...","{'word': '전동평', 'start_idx': 14, 'end_idx': 16...",org:top_members/employees,wikitree
5225,5225,1932년 3월 만주국 건국 이후 동북군의 일부였던 장쉐량의 6만 명 규모의 부대 ...,"{'word': '장쉐량', 'start_idx': 29, 'end_idx': 31...","{'word': '동북군', 'start_idx': 19, 'end_idx': 21...",per:employee_of,wikipedia
24488,24488,더불어민주당 안호영 '완주·진안·무주·장수' 국회의원 예비후보가 사회서비스 분야의 ...,"{'word': '안호영', 'start_idx': 7, 'end_idx': 9, ...","{'word': '더불어민주당', 'start_idx': 0, 'end_idx': ...",per:employee_of,wikitree
...,...,...,...,...,...,...
17363,17363,‘땡큐쏘마취 휘플위크’ 기간에는 ‘휘플위크 패키지’ 평창과 제주 2가지 상품이 출시...,"{'word': '휘닉스 제주 섭지코지', 'start_idx': 57, 'end_...","{'word': '휘닉스 평창', 'start_idx': 49, 'end_idx':...",no_relation,wikitree
23494,23494,"(Vita S. Kiliani, in Canisius, Lect. Antiquæ, ...","{'word': '유스티니아누스', 'start_idx': 71, 'end_idx'...","{'word': '콘스탄티노폴리스', 'start_idx': 118, 'end_id...",no_relation,wikipedia
5201,5201,"정약용과 그의 둘째 형 정약전은 정약종과는 달리 이미 천주교를 버린 뒤였으나, 노론...","{'word': '정약용', 'start_idx': 0, 'end_idx': 2, ...","{'word': '천주교', 'start_idx': 30, 'end_idx': 32...",no_relation,wikipedia
22395,22395,경기 고양시(시장 이재준) 일산동구보건소 치매안심센터는 치매안심마을(일산동구 중산동...,"{'word': '일산동구', 'start_idx': 15, 'end_idx': 1...","{'word': '고양시', 'start_idx': 3, 'end_idx': 5, ...",org:member_of,wikitree
24465,24465,콘스탄티노폴리스 대궁전은 비잔티움 제국의 수도 콘스탄티노폴리스에 있었던 거대한 궁전...,"{'word': '비잔티움 제국', 'start_idx': 14, 'end_idx'...","{'word': '콘스탄티노폴리스', 'start_idx': 0, 'end_idx'...",org:place_of_headquarters,wikipedia

In [151]:
type(dev_label)

list

In [169]:
train

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [183]:
sub = set(train['subject_entity'].apply(lambda x: eval(x)['type']))
ob = set(train['object_entity'].apply(lambda x: eval(x)['type']))

In [197]:
rel = set(train['label'])

In [198]:
rel

{'no_relation',
 'org:alternate_names',
 'org:dissolved',
 'org:founded',
 'org:founded_by',
 'org:member_of',
 'org:members',
 'org:number_of_employees/members',
 'org:place_of_headquarters',
 'org:political/religious_affiliation',
 'org:product',
 'org:top_members/employees',
 'per:alternate_names',
 'per:children',
 'per:colleagues',
 'per:date_of_birth',
 'per:date_of_death',
 'per:employee_of',
 'per:origin',
 'per:other_family',
 'per:parents',
 'per:place_of_birth',
 'per:place_of_death',
 'per:place_of_residence',
 'per:product',
 'per:religion',
 'per:schools_attended',
 'per:siblings',
 'per:spouse',
 'per:title'}

In [217]:
a=pd.concat([train['label'],train['subject_entity'].apply(lambda x: eval(x)['type']),train['object_entity'].apply(lambda x: eval(x)['type'])],axis=1).drop_duplicates()

In [221]:
a.sort_values('label').reset_index(drop=True).to_csv('/opt/ml/code/prediction/sor.csv')

In [192]:
out=[]
for subj_type in sub:
    for obj_type in ob:
        subj_data = train[train['subject_entity'].apply(lambda x: eval(x)['type']==subj_type)]
        obj_data = subj_data[subj_data['object_entity'].apply(lambda x: eval(x)['type']==obj_type)]
        out.append([subj_type,obj_type,set(obj_data['label'])])

In [196]:
pd.DataFrame(out,columns=['subj','obj','relation']).to_csv('/opt/ml/code/prediction/sor.csv')

In [ ]:
ID_TO_TYPE_PAIR = {
    0: 'ORG_PER',
    1: 'ORG_COUNTRY',
    2: 'PERSON_PERSON',
    3: 'PERSON_COUNTRY',
    4: 'ORGANIZATION_ORGANIZATION',
    5: 'PERSON_CITY',
    6: 'PERSON_NATIONALITY',
    7: 'PERSON_ORGANIZATION',
    8: 'ORGANIZATION_LOCATION',
    9: 'PERSON_LOCATION',
    10: 'PERSON_STATE_OR_PROVINCE',
    11: 'PERSON_DATE',
    12: 'ORGANIZATION_DATE',
}

In [224]:
train

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [225]:
train.items()

In [227]:
nomatch90=pd.read_csv('/opt/ml/code/prediction/no_match_90.csv')

In [230]:
pd.set_option('display.max_rows',None)

In [235]:
nomatch90[nomatch90['gold_label']==nomatch90['second_label']]

,Unnamed: 0,sentence,subj_word,subj_type,obj_word,obj_type,gold_label,pred_label,second_label,gold_prob,pred_prob,second_prob,prob_diff,prse_diff
0,1026,"1991년 개헌후 처음 벌어졌던 기초지방선거에서 참패한 후, 9월 10일 합당에 합...",신민주연합,ORG,민주당,ORG,no_relation,org:alternate_names,no_relation,0.3459,0.5342,0.3459,0.1883,0.1883
1,5677,"오르내림 (OLNL)이 소속된 크루는 쥬스오버알콜 (juiceoveralchol),...",OLNL,ORG,WYBH,ORG,no_relation,org:alternate_names,no_relation,0.3685,0.6259,0.3685,0.2574,0.2574
2,5782,"약칭은 한민당. 1945년 9월 16일에 조선민족당, 한국국민당 등이 만든 정당으로...",한민당,ORG,"조선민족당, 한국국민당",ORG,no_relation,org:alternate_names,no_relation,0.4267,0.5687,0.4267,0.1420,0.1420
6,708,이와 같이 2019년 3월 1일 자유조선은 조선민주주의인민공화국의 김정은 체제의 북...,자유조선,ORG,2019년 3월 1일,DAT,no_relation,org:founded,no_relation,0.3070,0.6832,0.3070,0.3763,0.3763
7,1664,법률요건을 충족시키고 원로원에 특권을 불하받은 핀레이슨은 1820년 탐페레에 소면기...,핀레이슨,PER,1820년,DAT,no_relation,org:founded,no_relation,0.2124,0.7808,0.2124,0.5684,0.5684
8,2095,1988년 3월 6일에 완공하여 완공 당시 그린 스타디움 고베라는 애칭을 사용하여 ...,그린 스타디움 고베,ORG,1988년 3월 6일,DAT,no_relation,org:founded,no_relation,0.1595,0.8316,0.1595,0.6720,0.6720
9,2755,1947년 11월 1일 정부로부터 학교인가를 받아 같은해 11월 3일 단국대학교를 ...,단국대학교사범대학부속중학교,ORG,1947년,DAT,no_relation,org:founded,no_relation,0.0939,0.8896,0.0939,0.7957,0.7957
10,3676,"1995년 정계에 복귀한 김대중의 신당 새정치국민회의의 발기인으로 참여했고, 이듬해...",새정치국민회의,ORG,1996년,DAT,no_relation,org:founded,no_relation,0.1700,0.8057,0.1700,0.6357,0.6357
11,806,양평군은 도농복합 도시로 다양한 토지이용현황이 분포되어 중앙정부 및 한국국토정보공사...,한국국토정보공사,ORG,국토교통부,ORG,no_relation,org:member_of,no_relation,0.4567,0.5406,0.4567,0.0838,0.0838
12,1075,페트릭 피어즈가 이끄는 아일랜드 의용군과 제임스 코놀리가 이끄는 아일랜드 시민군은 ...,아일랜드 의용군,ORG,아일랜드 시민군,ORG,no_relation,org:member_of,no_relation,0.2596,0.7329,0.2596,0.4733,0.4733
13,1561,"NC백화점, 갤러리아 백화점, AK플라자, 롯데백화점 등 쇼핑시설도 자리한다.",AK플라자,ORG,갤러리아 백화점,ORG,no_relation,org:member_of,no_relation,0.1600,0.8386,0.1600,0.6786,0.6786
14,1623,"서울대 본부 측은 2011년 3월 총장, 교수, 외부위원 등으로 구성된 '국립대학법...",서울대학교,ORG,국립대학법인,ORG,no_relation,org:member_of,no_relation,0.2247,0.7223,0.2247,0.4975,0.4975
15,1832,마라도나교에는 오순절까지 존재하는데 마라도나가 잉글랜드를 상대로 벌인 '신의 손 사...,아르헨티나 대 잉글랜드,ORG,1986년 FIFA 월드컵,POH,no_relation,org:member_of,no_relation,0.2211,0.7749,0.2211,0.5538,0.5538
16,2282,페트릭 피어즈가 이끄는 아일랜드 의용군과 제임스 코놀리가 이끄는 아일랜드 시민군은 ...,아일랜드 시민군,ORG,아일랜드 의용군,ORG,no_relation,org:member_of,no_relation,0.4509,0.5172,0.4509,0.0664,0.0664
17,3176,"현재 육군본부 및 7개 기능 사령부와 2개 작전사령부 (지상작전사령부, 제2작전사령...",지상작전사령부,ORG,육군본부,ORG,no_relation,org:member_of,no_relation,0.0974,0.8850,0.0974,0.7876,0.7876
18,3892,박홍재 전라남도농업기술원장은 “강진군농협미곡종합처리장과 함께 고품질 쌀 생산을 위해...,강진군,ORG,전라남도,ORG,no_relation,org:member_of,no_relation,0.2526,0.7439,0.2526,0.4913,0.4913
19,3925,그리고 리그 오브 레전드 월드 챔피언십 2017 종료 후 2017년 11월 27일 ...,ESC 셰인,ORG,리그 오브 레전드,POH,no_relation,org:member_of,no_relation,0.1299,0.8314,0.1299,0.7015,0.7015
20,4612,"이 프로그램은 충청북도, 청주시, 충북연구원에서 운영하는‘미래철도 신교통 산학연 협...",청주시,ORG,충청북도,LOC,no_relation,org:member_of,no_relation,0.1667,0.8283,0.1667,0.6616,0.6616
21,5950,2006년 FIFA 월드컵이 끝난 이후 러시아 축구 국가대표팀 감독을 맡아 러시아를...,첼시 FC,ORG,UEFA,POH,no_relation,org:member_of,no_relation,0.2602,0.7383,0.2602,0.4781,0.4781
22,6185,11번가를 통해 SK텔레콤 상품을 구매하면 카드할인 및 무이자할부 외에도 애플 정품...,11번가,ORG,SK텔레콤,ORG,no_relation,org:member_of,no_relation,0.4034,0.5941,0.4034,0.1907,0.1907
29,2400,필라레트(1929년 1월 23일 ~)는 우크라이나에서 가장 큰 기독교 교단인 키예프...,우크라이나,ORG,키예프,LOC,no_relation,org:members,no_relation,0.2823,0.6383,0.2823,0.3561,0.3561
30,2641,일본국유철도 103계 전동차는 옛 일본국철(현 JR)이 설계·제조한 직류 통근형 전...,일본국유철도,ORG,일본국철,ORG,no_relation,org:members,no_relation,0.2995,0.5896,0.2995,0.2901,0.2901
31,4527,덧붙여 크루즈는 2004년부터 2009년까지 텍사스 대학교 오스틴 로스쿨의 조교수로...,텍사스,ORG,오스틴,ORG,no_relation,org:members,no_relation,0.3571,0.6381,0.3571,0.2811,0.2811
41,5817,"계명대 동산병원은 대지 4만 228㎡(1만 2천 169평), 연면적 17만 9천 2...",동산병원,ORG,"1,041병상",NOH,no_relation,org:number_of_employees/members,no_relation,0.1499,0.7728,0.1499,0.6228,0.6228
42,5107,"1974년 9월, 붉은 여단을 창립하였던 레나토 쿠르치오와 알베르토 프란세시니가 이...",붉은 여단,ORG,이탈리아,ORG,no_relation,org:place_of_headquarters,no_relation,0.1679,0.8282,0.1679,0.6604,0.6604
46,2138,"워페이스는 크라이텍 키예프가 개발하고 크라이텍 서울, 크라이텍 프랑크푸르트가 공동 ...",크라이텍,ORG,워페이스,POH,no_relation,org:product,no_relation,0.1989,0.7867,0.1989,0.5877,0.5877
47,5620,영광군(군수 김준성)은 9월 18일부터 24일까지 7일간 영광 불갑사 관광지 일원에...,영광군,ORG,상사화,POH,no_relation,org:product,no_relation,0.2976,0.6960,0.2976,0.3984,0.3984
49,585,"민의원은 6월 23일 투표를 실시한 결과 총투표수 114표 중 가 101표, 부 1...",민의원,ORG,곽상훈,PER,no_relation,org:top_members/employees,no_relation,0.1499,0.8490,0.1499,0.6991,0.6991
50,928,반면에 건준 위원장을 지냈던 여운형의 동생 여운홍은 건국준비위원회가 1945년 9월...,조선인민공화국,ORG,여운형,PER,no_relation,org:top_members/employees,no_relation,0.2082,0.6499,0.2082,0.4417,0.4417
51,1069,2003년 러시아 출신 구단주 로만 아브라모비치의 '러시아 혁명'의 일환으로서 조 ...,첼시 FC,ORG,로만 아브라모비치,PER,no_relation,org:top_members/employees,no_relation,0.3521,0.6278,0.3521,0.2756,0.2756
52,1474,운구는 여영국 창원 시의원 등이 진행했고 이정미 대표와 심상정 의원 및 조문객들은 ...,정의당,ORG,이정미,PER,no_relation,org:top_members/employees,no_relation,0.1934,0.8048,0.1934,0.6114,0.6114
53,3379,"2007년 8월 5일에 열린우리당의 탈당파와 중도통합민주당의 탈당파, 한나라당을 탈...",민주당,ORG,손학규,PER,no_relation,org:top_members/employees,no_relation,0.0997,0.8961,0.0997,0.7965,0.7965
54,5505,"상명대에는 서울과 천안 캠퍼스에 배상명의 좌상이 건립되어 있고, 배상명의 호를 따 ...",상명대,ORG,배상명,PER,no_relation,org:top_members/employees,no_relation,0.2471,0.5430,0.2471,0.2959,0.2959
57,4939,한편 지난 4월 시작한 '배거슨 라이브 ㅅㅅㅅ'는 배성재 캐스터가 매주 화제의 스포...,배성재,PER,배거슨,POH,no_relation,per:alternate_names,no_relation,0.4062,0.5854,0.4062,0.1791,0.1791
59,1162,결국 가짜 드미트리 1세는 모스크바에 입성해 고두노프의 아들 표도르 2세를 살해하고...,가짜 드미트리 1세,PER,표도르 2세,PER,no_relation,per:children,no_relation,0.0917,0.7951,0.0917,0.7034,0.7034
63,744,지난 28일과 29일 이찬혁 씨는 이틀간 자리를 비운 이수현 씨를 대신해 KBS C...,이찬혁,PER,이수현,PER,no_relation,per:colleagues,no_relation,0.3385,0.6499,0.3385,0.3113,0.3113
64,1892,장택상 의원은 실제로 신익희 의원 측과 1차 투표에서 자유당의 이기붕 의원이 과반 ...,신익희,PER,이기붕,PER,no_relation,per:colleagues,no_relation,0.1887,0.8079,0.1887,0.6193,0.6193
65,2194,김종필은 박정희 사후 직후인 1979년 11월 26일 공화당 임시 당수를 맡았으나 ...,김종필,PER,박정희,PER,no_relation,per:colleagues,no_relation,0.1866,0.8101,0.1866,0.6235,0.6235
66,2766,우르바노 2세와 파스칼 2세가 재임했던 시절에 추기경단에 이탈리아인 성직자들이 대거...,파스칼 2세,PER,우르바노 2세,PER,no_relation,per:colleagues,no_relation,0.1174,0.8804,0.1174,0.7630,0.7630
67,3413,"블라디미르 푸틴 대통령은 ""러시아와 터키 관계에 심각한 결과를 초래하고 있다""라며 ...",드미트리 메드베데프,PER,블라디미르 푸틴,PER,no_relation,per:colleagues,no_relation,0.3336,0.4766,0.3336,0.1430,0.1430
68,3693,미국-스페인 전쟁에 참전하였고 쿠바의 독립운동에 동정심을 가진 시어도어 루스벨트는 ...,시어도어 루스벨트,PER,윌리엄 매킨리,PER,no_relation,per:colleagues,no_relation,0.2881,0.7090,0.2881,0.4209,0.4209
69,5219,"팝핀현준은 귀가하며 박애리 씨께 ""엄마에게 말하지 마""라고 당부했다.",팝핀현준,PER,박애리,PER,no_relation,per:colleagues,no_relation,0.3257,0.6701,0.3257,0.3444,0.3444
70,5809,"김우빈은 자신이 맡은 역할 박흥수에 대해서 “김우빈, 김현중이 아니라 누가 봐도 박...",김우빈,PER,김현중,PER,no_relation,per:colleagues,no_relation,0.1258,0.7632,0.1258,0.6374,0.6374
71,5936,"강 수석은 이날 자신의 페이스북에 ""어젯밤 박근혜 정부의 정무수석이었고, 지금은 예...",김재원,PER,박근혜,PER,no_relation,per:colleagues,no_relation,0.1450,0.8526,0.1450,0.7077,0.7077
72,6285,이 중 일부인 1천685억원을 국내로 들여와 조중훈 명예 회장과 조양호 회장 등이 ...,조양호,PER,조중훈,PER,no_relation,per:colleagues,no_relation,0.2070,0.7794,0.2070,0.5724,0.5724
74,1947,폴 아웃 보이는 2001년 미국 일리노이주 윌멧에서 결성된 록 밴드이다.,폴 아웃 보이,PER,일리노이주 윌멧,LOC,no_relation,per:employee_of,no_relation,0.1346,0.8636,0.1346,0.7290,0.7290
75,2669,"2013 시즌이 끝나자 FA 기간을 통해서 내부 3명(이대수, 한상훈, 박정진)과 ...",이대수,PER,SK 와이번스,ORG,no_relation,per:employee_of,no_relation,0.3266,0.6688,0.3266,0.3422,0.3422
76,4182,2015년부터는 프랭크 (FRNK)와 함께 결성한 2인조 힙합 그룹인 XXX의 멤버...,FRNK,ORG,XXX,ORG,no_relation,per:employee_of,no_relation,0.3266,0.6666,0.3266,0.3400,0.3400
77,4609,"멤버 김국헌, 송유빈 씨는 지난 2017년 데뷔했던 마이틴에서 재정비해 '비오브유'...",김국헌,PER,마이틴,PER,no_relation,per:employee_of,no_relation,0.1266,0.8712,0.1266,0.7446,0.7446
78,4801,기성용 선수는 FC 서울과 전북 현대 양 구단에 2020년 2월 10일 부로 협상 ...,기성용,PER,FC 서울,ORG,no_relation,per:employee_of,no_relation,0.2364,0.7621,0.2364,0.5257,0.5257
79,5045,그녀는 후에 캡틴 아메리카의 현대에서의 연인 샤론 카터와 친척으로 더 잘 알려졌다.,샤론 카터,PER,캡틴 아메리카,LOC,no_relation,per:employee_of,no_relation,0.2618,0.7346,0.2618,0.4728,0.4728
86,782,"헤로도토스는 어떤 이는 4천명의 그리스군이 죽었다고 하지만, 산길을 경계하던 포키스...",포키스,ORG,그리스,ORG,no_relation,per:origin,no_relation,0.0972,0.8957,0.0972,0.7986,0.7986
87,4461,프란츠 페르디난트 카를 루트비히 요제프 마리아 폰 외스터라이히에스테 대공(1863년...,프란츠 요제프 1세,PER,헝가리,ORG,no_relation,per:origin,no_relation,0.1755,0.7760,0.1755,0.6005,0.6005
88,5048,논란이 되었던 영화 (1933년)를 포함하여 체코슬로바키아에서 잠깐의 영화활동을 했...,헤디 라마르,PER,오스트리아,LOC,no_relation,per:origin,no_relation,0.1772,0.8167,0.1772,0.6395,0.6395
89,5194,"안이 사망하자, 브르타뉴는 프랑스 왕에 남아있기 보다는 그의 딸이자 상속자인 클로드...",브르타뉴,PER,프랑스,LOC,no_relation,per:origin,no_relation,0.2172,0.5878,0.2172,0.3706,0.3706
95,1298,"후에 나폴레옹이 집권하고서도 복권되지 않았고, 이후 루이 18세, 샤를 10세 치하...",샤를 10세,PER,루이 18세,PER,no_relation,per:other_family,no_relation,0.3446,0.5600,0.3446,0.2154,0.2154
96,6119,"이는 다른 능에서도 마찬가지인데, 유독 덕종(의경세자)과 소혜왕후(인수대비)의 무덤...",의경세자,PER,소혜왕후,PER,no_relation,per:other_family,no_relation,0.2224,0.7685,0.2224,0.5460,0.5460
97,6474,일본 정부가 한일 병합 조약 체결 후 1912년 논공행상을 하면서 수여한 한국병합기...,다이쇼 천황,PER,쇼와 천황,POH,no_relation,per:other_family,no_relation,0.1348,0.8592,0.1348,0.7244,0.7244
101,1552,"성종의 다른 부인들과의 나이 차를 보면, 1456년 생인 공혜왕후, 1455년 생인...",공혜왕후,PER,폐비 윤씨,PER,no_relation,per:parents,no_relation,0.1126,0.8128,0.1126,0.7002,0.7002
107,2844,에토래 부가티는는 프랑스 Bas-Rhin dpartment에 위치해 있는 Molsh...,에토래 부가티,PER,프랑스,LOC,no_relation,per:place_of_residence,no_relation,0.3429,0.5713,0.3429,0.2284,0.2284
108,3246,토셰 프로에스키는 2000년에 북마케도니아의 유로비전 송 콘테스트 예선 역할을 하던...,토셰 프로에스키,PER,북마케도니아,LOC,no_relation,per:place_of_residence,no_relation,0.2840,0.7016,0.2840,0.4176,0.4176
111,917,"1997년 모던 록 밴드 '미선이'를 결성하였고, 1998년엔 정규 앨범 1집 《""...",미선이,PER,모던 록,POH,no_relation,per:product,no_relation,0.2648,0.6566,0.2648,0.3918,0.3918
119,167,'탄소 도지사'로 불릴만큼 전주시장 시절부터 탄소에 열정을 쏟은 송하진 전북도지사는...,송하진,PER,전주시장,POH,no_relation,per:title,no_relation,0.3501,0.6401,0.3501,0.2900,0.2900
120,545,"2011 시즌을 앞두고 유경렬, 오범석, 오장은 등을 이적시키며 전력 약화에 대한 ...",오범석,PER,센터백,POH,no_relation,per:title,no_relation,0.2430,0.7512,0.2430,0.5082,0.5082
121,991,"1804년 전 재무장관이자 연방주의자며, 자신을 미워하여 제퍼슨을 도와줘 당선시킨 ...",알렉산더 해밀턴,PER,연방주의자,POH,no_relation,per:title,no_relation,0.2685,0.7140,0.2685,0.4455,0.4455
122,2159,"박지수의 MSL 우승으로 화승 OZ는 3종족 우승자(테란 박지수, 저그 이제동, 프...",오영종,PER,프로토스,POH,no_relation,per:title,no_relation,0.3416,0.6555,0.3416,0.3140,0.3140
123,2200,17세기의 기계론적 자연관은 갈릴레이 이후 네덜란드의 물리학자 크리스티안 하위헌스(...,아이작 뉴턴,PER,물리학자,POH,no_relation,per:title,no_relation,0.2305,0.7669,0.2305,0.5364,0.5364
124,3401,그러나 11월 14일 로이터 통신은 충격적인 소식을 전하게 되는데 노벨상위원회가 노...,윌리엄 로런스 브래그,PER,물리학,POH,no_relation,per:title,no_relation,0.2361,0.7617,0.2361,0.5256,0.5256
125,4234,2018 평창동계올림픽 금메달리스트인 남자쇼트트랙 간판 임효준(고양시청) 선수가 동...,임효준,PER,쇼트트랙,POH,no_relation,per:title,no_relation,0.2093,0.7850,0.2093,0.5756,0.5756
126,5747,여자 사브르 단체전 경기에 나선 김지연·황선아·최신희·최수빈은 결승전에서 서울시청에...,황선아,PER,사브르,POH,no_relation,per:title,no_relation,0.2122,0.7857,0.2122,0.5736,0.5736
127,2075,종합격투기 UFC 간판스타 코너 맥그리거(31·아일랜드)가 폭행 혐의로 기소됐다.,UFC,ORG,종합격투기,POH,org:alternate_names,no_relation,org:alternate_names,0.1946,0.8024,0.1946,0.6077,0.6077
134,1760,튜더 왕가 또는 튜더 왕조는 잉글랜드 왕국(1485년 - 1603년)과 아일랜드 왕...,튜더 왕조,ORG,1603년,DAT,org:dissolved,per:date_of_death,org:dissolved,0.1088,0.7649,0.1088,0.6561,0.6561
135,5214,"우미건설은 1982년부터 주택사업을 시작으로 지난 37년 동안 공동주택 자체사업, ...",우미건설,ORG,1982년,DAT,org:founded,no_relation,org:founded,0.2657,0.7298,0.2657,0.4641,0.4641
136,2958,청년당(靑年黨)은 2012년 3월 19일부터 2012년 4월 12일까지 존재했던 대...,청년당,ORG,2012년 3월 19일,DAT,org:founded,org:dissolved,org:founded,0.0898,0.8996,0.0898,0.8098,0.8098
138,4549,"""미래에셋은 젊은이의 희망이 되겠습니다""라는 비전으로 2000년 3월 28일 박현주...",미래에셋,ORG,박현주,PER,org:founded_by,org:top_members/employees,org:founded_by,0.4066,0.5902,0.4066,0.1836,0.1836
140,535,문화체육관광부는 22일 중앙재난안전대책본부(이하 중대본)가 사회적 거리두기 2단계 ...,국립광주박물관,ORG,문화체육관광부,ORG,org:member_of,no_relation,org:member_of,0.1434,0.8545,0.1434,0.7111,0.7111
141,1232,"박 당선인은 금융노조 KB국민은행지부 위원장, 금융노조 전국은행산업노동조합협의회 의...",국민은행,ORG,KB금융그룹,ORG,org:member_of,no_relation,org:member_of,0.4003,0.5960,0.4003,0.1957,0.1957
142,2315,그는 프랑스에서 열린 2003년 FIFA 컨페더레이션스컵에서 프랑스가 우승하는 데 ...,프랑스,ORG,2006년 FIFA 월드컵,POH,org:member_of,no_relation,org:member_of,0.1916,0.8072,0.1916,0.6157,0.6157
143,2849,때문에 베트남 축구 연맹은 트리스탕에게 베트남 U-23 축구 국가대표팀에 뛸 것을 ...,베트남 U-23 축구 국가대표팀,ORG,베트남 축구 연맹,ORG,org:member_of,no_relation,org:member_of,0.4437,0.5462,0.4437,0.1025,0.1025
144,4320,탐진강 찰진쌀 새청무米는 MOU 체결 이후 해외 첫 수출이라는 점과 강진군농협RPC...,강진군,ORG,전라남도,ORG,org:member_of,no_relation,org:member_of,0.0921,0.8707,0.0921,0.7787,0.7787
145,4855,"또한 CJ주식회사 박근희 부회장과 CJ제일제당 신현재 대표, CJ ENM 허민회 대...",CJ제일제당,ORG,CJ주식회사,ORG,org:member_of,no_relation,org:member_of,0.1437,0.8549,0.1437,0.7112,0.7112
146,6404,"카투사는 대한민국 육군에서만 파견하며 대한민국 해군, 대한민국 공군은 카투사를 모집...",카투사,ORG,대한민국 육군,ORG,org:member_of,no_relation,org:member_of,0.1320,0.8655,0.1320,0.7334,0.7334
150,680,"저녹스보일러는 에너지소비효율이 91%이상(1등급), 질소산화물(NOx) 배출농도가 ...",한국환경산업기술원,ORG,환경부,ORG,org:member_of,org:alternate_names,org:member_of,0.3376,0.6557,0.3376,0.3181,0.3181
156,4743,"강원도 횡성군 농회 부회장과 횡성군축산조합 조합부장(1916년 3월), 횡성금융조합...",횡성군,ORG,강원도,LOC,org:member_of,org:place_of_headquarters,org:member_of,0.4673,0.5303,0.4673,0.0630,0.0630
157,4877,"2003년, 노르웨이 오슬로 대학의 Anne Kristin Bakkestuen과 L...",오슬로,ORG,노르웨이,LOC,org:member_of,org:place_of_headquarters,org:member_of,0.0994,0.8985,0.0994,0.7992,0.7992
160,6187,"그는 “지난달 23일 현대차, 기아차, 현대모비스 등 현대차 그룹 3사는 모빌리티 ...",현대차 그룹,ORG,현대모비스,ORG,org:members,no_relation,org:members,0.1103,0.8841,0.1103,0.7738,0.7738
161,211,"CCTV-4(CCTV-4 中文国际)은 중국중앙텔레비전의 텔레비전 채널 중 하나이며,...",중국중앙텔레비전,ORG,CCTV-4 中文国际,POH,org:members,org:alternate_names,org:members,0.2062,0.7889,0.2062,0.5827,0.5827
162,381,2004년에는 하이트컵 오픈에서 우승을 차지했으며 2005년 5월에 이수건설이 창단...,이수건설,ORG,브라운스톤,ORG,org:members,org:founded_by,org:members,0.1453,0.7496,0.1453,0.6043,0.6043
164,1546,2007년 2월 20일에는 강원도 원주시청에서 경기도 고양시청으로 소속팀을 옮겼다.,강원도,ORG,원주시,ORG,org:members,org:place_of_headquarters,org:members,0.4617,0.5122,0.4617,0.0504,0.0504
165,6104,서기석은 2018년 2월 19일에 브라질 상파울루대학교 로스쿨을 찾아 학생들과 현지...,브라질,ORG,상파울루,ORG,org:members,org:place_of_headquarters,org:members,0.1002,0.8963,0.1002,0.7962,0.7962
166,2330,서아시아 축구 연맹에서 주관하는 서아시아 축구 선수권 대회에는 첫 대회인 2000년...,서아시아 축구 연맹,ORG,서아시아 축구 선수권 대회,POH,org:members,org:product,org:members,0.1534,0.7674,0.1534,0.6141,0.6141
167,1970,이번 계약에 따라 차바이오F&C는 오는 12월부터 러시아 및 독립국가연합(CIS) ...,독립국가연합,ORG,11개국,NOH,org:number_of_employees/members,no_relation,org:number_of_employees/members,0.2831,0.6825,0.2831,0.3994,0.3994
170,4419,2006년 아스콜리로 임대 이적하여 이탈리아 무대에 발을 디뎠고 2007년 우디네세...,우디네세,ORG,이탈리아,LOC,org:place_of_headquarters,no_relation,org:place_of_headquarters,0.3143,0.6656,0.3143,0.3513,0.3513
171,6010,"이에 따라 스코틀랜드에서도 포크 음악 리바이벌이 대대적으로 일어났는데, 이 포크 리...",더 코리스,ORG,스코틀랜드,LOC,org:place_of_headquarters,no_relation,org:place_of_headquarters,0.2712,0.7197,0.2712,0.4485,0.4485
175,154,"전라북도는 ""남원시와 26일 남원시청 시장실에서 이환주 남원시장, 차주하 전라북도 ...",남원시,ORG,전라북도,LOC,org:place_of_headquarters,org:member_of,org:place_of_headquarters,0.1944,0.8031,0.1944,0.6087,0.6087
185,3287,"많은 소매상들이 몇 년 동안 비디오 게임을 자기 가게에 올리는 걸 반대하였고, 그리...",닌텐도,ORG,비디오 게임,POH,org:product,no_relation,org:product,0.4468,0.5476,0.4468,0.1008,0.1008
186,3731,"2008년, 5년 만에 한국 SBS 수목미니시리즈 《온에어》의 까칠한 이경민 PD로...",SBS,ORG,온에어,POH,org:product,org:founded,org:product,0.2426,0.7010,0.2426,0.4584,0.4584
187,842,"정주영의 대선 낙선 후 현대그룹 계열사들이 세무조사를 받고 선거법 위반, 특정경제범...",현대그룹,ORG,정주영,PER,org:top_members/employees,no_relation,org:top_members/employees,0.2103,0.7879,0.2103,0.5776,0.5776
188,3771,"마이클 잭슨은 1980년 더 잭슨스의 멤버로서 할리우드 명예의 거리에 올랐고, 19...",더 잭슨스,ORG,마이클 잭슨,PER,org:top_members/employees,no_relation,org:top_members/employees,0.1023,0.8816,0.1023,0.7792,0.7792
189,4119,그러나 호날두는 레알 마드리드회장 플로렌티노 페레스와 연봉 인상문제하고 지네딘 지단...,레알 마드리드,ORG,플로렌티노 페레스,PER,org:top_members/employees,no_relation,org:top_members/employees,0.1127,0.8865,0.1127,0.7737,0.7737
190,4697,스타십은 제퍼슨 스타십(Jefferson Starship)에서 활동한 전력이 있는 ...,스타십,ORG,그레이스 슬릭,PER,org:top_members/employees,no_relation,org:top_members/employees,0.3270,0.3348,0.3270,0.0078,0.0078
191,5133,정세균 국무총리와 김정욱 서울대교수가 공동위원장을 맡고 있는 녹색성장위원회는 국무조...,국무조정실,ORG,국무총리,POH,org:top_members/employees,no_relation,org:top_members/employees,0.3832,0.6155,0.3832,0.2323,0.2323
192,5186,"박윤국 이사장은 “포천시인재장학재단은 포천 인재 육성의 요람이자, 학생들을 도와주는...",포천시,ORG,박윤국,PER,org:top_members/employees,no_relation,org:top_members/employees,0.3304,0.6670,0.3304,0.3367,0.3367
193,5698,리가 15라운드 보루시아 도르트문트와의 더비전에서 마르코 로이스의 발리슛과 마츠 후...,보루시아 도르트문트,ORG,마츠 후멜스,PER,org:top_members/employees,no_relation,org:top_members/employees,0.4322,0.5665,0.4322,0.1342,0.1342
194,5820,그룹 2AM 출신 정진운 씨와 나인뮤지스 출신 경리가 열애를 인정한 가운데 두 사람...,2AM,PER,정진운,PER,org:top_members/employees,no_relation,org:top_members/employees,0.1152,0.8765,0.1152,0.7613,0.7613
199,2310,훗날에 예수게이는 열조(烈祖)의 묘호를 받았다.,예수게이,PER,열조(烈祖),PER,per:alternate_names,no_relation,per:alternate_names,0.2177,0.7697,0.2177,0.5521,0.5521
200,1781,배우 김우빈(김현종·30)이 신민아(양민아·35) 소속사로 옮기는 논의를 하고 있다...,신민아,PER,양민아,PER,per:alternate_names,org:alternate_names,per:alternate_names,0.2691,0.7277,0.2691,0.4587,0.4587
201,3007,The Beach Boys'Christmas Album 은 1964년 11월 9일 ...,비치 보이스,PER,Beach Boys,POH,per:alternate_names,org:top_members/employees,per:alternate_names,0.2231,0.5790,0.2231,0.3558,0.3558
206,3028,"신라 경순왕의 후예로, 충렬공 김방경의 25대손이며, 익원공 김사형의 21대손이었다.",김방경,PER,충렬공,PER,per:alternate_names,per:title,per:alternate_names,0.1129,0.8403,0.1129,0.7274,0.7274
207,3180,"배트맨은 어둠의 기사(""The Dark Knight""), 망토두른 성기사(""The ...",배트맨,PER,어둠의 기사,PER,per:alternate_names,per:title,per:alternate_names,0.1239,0.8636,0.1239,0.7397,0.7397
209,803,구스타프 6세 아돌프는 구스타프 5세와 그의 왕비인 바덴의 빅토리아의 장남으로 태어났다.,구스타프 5세,PER,구스타프 6세 아돌프,PER,per:children,per:parents,per:children,0.0995,0.8924,0.0995,0.7929,0.7929
210,4328,헨리 6세는 아직 나이가 어렸기 때문에 헨리 5세의 동생인 랭커스터의 존(베드포드 ...,헨리 5세,PER,헨리 6세,PER,per:children,per:siblings,per:children,0.1475,0.7140,0.1475,0.5665,0.5665
212,1056,장형은 임시정부에서 추진한 대학 설립에 참여하여 신익희와 함께 대학을 설립하였으나 ...,신익희,PER,이승만,PER,per:colleagues,no_relation,per:colleagues,0.1153,0.8836,0.1153,0.7683,0.7683
213,3823,"국제페어바둑대회에는 그동안 한국의 조훈현·이창호 9단, 일본의 린하이펑·다케미야 마...",조훈현,PER,이창호,PER,per:colleagues,no_relation,per:colleagues,0.4028,0.5926,0.4028,0.1898,0.1898
214,4224,교황 요한 바오로 2세는 이러한 이탈리아 정부의 반대를 무릅쓰고 1985년 7월 6...,비오 9세,PER,요한 바오로 2세,PER,per:colleagues,no_relation,per:colleagues,0.1633,0.8326,0.1633,0.6694,0.6694
215,4409,"한편 3월 9일, 검찰 개혁의 향배와 검찰 인사를 놓고 검찰이 일선 검사들과 마찰을...",강금실,PER,노무현,PER,per:colleagues,no_relation,per:colleagues,0.1992,0.7987,0.1992,0.5995,0.5995
216,5206,정현백 여성가족부 장관은 홍대 몰카 수사가 '편파 수사'라는 집회 현장에 다녀온 전...,정현백,PER,문재인,PER,per:colleagues,no_relation,per:colleagues,0.4522,0.5456,0.4522,0.0935,0.0935
217,6267,그러나 티베리우스 2세는 로마 제국의 군사적 조건이 악화되어 마우리키우스를 콘스탄티...,마우리키우스,PER,티베리우스 2세,PER,per:colleagues,no_relation,per:colleagues,0.4113,0.5863,0.4113,0.1750,0.1750
219,2880,사진 속에는 이효리 씨와 이상순 씨가 함께 요가 동작을 취하고 있다.,이효리,PER,이상순,PER,per:colleagues,per:spouse,per:colleagues,0.1764,0.6659,0.1764,0.4895,0.4895
220,5351,"결국 기원전 51년, 호한야 선우(재위 기원전 58년 - 기원전 31년)가 한나라에...",호한야 선우,PER,기원전 31년,DAT,per:date_of_death,no_relation,per:date_of_death,0.3309,0.6623,0.3309,0.3314,0.3314
221,3214,"페드로 나바로 (Pedro Navarro, 1460년 경 – 1528년 8월 28일...",페드로 나바로,PER,1528년 8월 28일,DAT,per:date_of_death,per:date_of_birth,per:date_of_death,0.2317,0.7661,0.2317,0.5344,0.5344
223,1541,"전북 지역의 민생당 대표 선수 정동영 후보는 ""더불어민주당이 '문재인 정부의 국정 ...",문재인,PER,더불어민주당,ORG,per:employee_of,no_relation,per:employee_of,0.0751,0.8699,0.0751,0.7948,0.7948
224,2601,우하람(21)과 김영남(23·이상 국민체육진흥공단)이 세계선수권 남자 10ｍ 싱크로...,우하람,PER,국민체육진흥공단,ORG,per:employee_of,no_relation,per:employee_of,0.4298,0.5672,0.4298,0.1374,0.1374
225,3331,임대 기간의 최종전은 8월 4일자 경기로 호비뉴는 산투스의 코파 두 브라지우 우승을...,호비뉴,PER,산투스,ORG,per:employee_of,no_relation,per:employee_of,0.4583,0.5394,0.4583,0.0811,0.0811
226,3411,"피고소인을 특정하지는 않았지만 이날 간담회에서 관련 자료를 언급한 주광덕, 곽상도 ...",주광덕,PER,자유한국당,ORG,per:employee_of,no_relation,per:employee_of,0.2006,0.7979,0.2006,0.5972,0.5972