In [2]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
# %matplotlib inline
import pickle as pickle
# 이거 데이터프레임 숫자 표시 개수 정해주는 거
pd.options.display.float_format = '{:.4f}'.format
import warnings
warnings.filterwarnings('ignore')
import matplotlib.gridspec as gridspec

In [3]:
dev_loss_st = pd.read_csv('/opt/ml/code/prediction/0_dev_loss_st.csv')
train = pd.read_csv('/opt/ml/dataset/train/train.csv')
test = pd.read_csv('/opt/ml/code/prediction/0_test_st.csv')

In [3]:
test=test.drop(columns='gold_label')

In [4]:
test['probs'].apply(lambda x: str(np.append([1],np.zeros_like(eval(test.iloc[0,2]))[:-1])))

0       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
1       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
2       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
3       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
4       [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
                              ...
7760    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7761    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7762    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7763    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
7764    [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...
Name: probs, Length: 7765, dtype: object

In [5]:
test['probs'].apply(lambda x: str([0]*30))

0       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
1       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
2       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
4       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
                              ...
7760    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7761    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7762    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7763    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
7764    [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
Name: probs, Length: 7765, dtype: object

In [6]:
# test.to_csv('/opt/ml/code/prediction/24 new_meta_binary2.csv',index=False)

In [7]:
num_label = []
label = dev_loss_st['gold_label'].unique()
with open('/opt/ml/code/dict_label_to_num.pkl', 'rb') as f:
    dict_label_to_num = pickle.load(f)
    for v in label:
        num_label.append(dict_label_to_num[v])

In [8]:
pd.DataFrame([dict_label_to_num])

,no_relation,org:top_members/employees,org:members,org:product,per:title,org:alternate_names,per:employee_of,org:place_of_headquarters,per:product,org:number_of_employees/members,...,org:member_of,per:parents,org:dissolved,per:schools_attended,per:date_of_death,per:date_of_birth,per:place_of_birth,per:place_of_death,org:founded_by,per:religion
0,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29

In [23]:
def train_pred(train):
    subjt=train['subject_entity'].apply(lambda x: pd.Series(eval(x))).add_prefix('subj_')
    objt=train['object_entity'].apply(lambda x: pd.Series(eval(x))).add_prefix('obj_')
    full_train = pd.concat([train[['id','sentence','source','label']],subjt,objt],axis=1)
    del subjt,objt
    return full_train

In [24]:
full_train=train_pred(train)

In [25]:
train.head(5)

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia

In [26]:
full_train.head(5)

,id,sentence,source,label,subj_word,subj_start_idx,subj_end_idx,subj_type,obj_word,obj_start_idx,obj_end_idx,obj_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,wikipedia,no_relation,비틀즈,24,26,ORG,조지 해리슨,13,18,PER
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,wikitree,no_relation,민주평화당,19,23,ORG,대안신당,14,17,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,wikitree,org:member_of,광주FC,21,24,ORG,한국프로축구연맹,34,41,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,wikitree,org:top_members/employees,아성다이소,13,17,ORG,박정부,22,24,PER
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,wikipedia,no_relation,요미우리 자이언츠,22,30,ORG,1967,0,3,DAT

In [27]:
full_train[full_train['subj_type']=='PER']['obj_type'].unique()

array(['DAT', 'ORG', 'LOC', 'POH', 'PER', 'NOH'], dtype=object)

In [28]:
full_train[full_train['subj_type']=='ORG']['obj_type'].unique()

array(['PER', 'ORG', 'DAT', 'LOC', 'POH', 'NOH'], dtype=object)

In [30]:
full_train[(full_train['subj_type']=='PER')&(full_train['subj_type']=='PER')]['label'].unique()

array(['per:date_of_birth', 'per:employee_of', 'per:origin', 'per:title',
       'no_relation', 'per:schools_attended', 'per:colleagues',
       'per:alternate_names', 'per:spouse', 'per:children',
       'per:place_of_birth', 'per:parents', 'per:religion',
       'per:date_of_death', 'per:place_of_residence', 'per:other_family',
       'per:siblings', 'per:product', 'per:place_of_death', 'org:members',
       'org:top_members/employees', 'org:founded_by',
       'org:place_of_headquarters'], dtype=object)

In [33]:
full_train['bi_label'] = full_train['label'].apply(lambda x: x=='no_relation' if x, 'relation'))

AttributeError: 'str' object has no attribute 'where'

In [ ]:
multi -> per : per / label 5개 아니면 no relation

In [4]:
a=train[train['subject_entity'].apply(lambda x: eval(x)['type']=='PER')]

In [7]:
b = train[train['object_entity'].apply(lambda x: eval(x)['type']=='PER')]

In [12]:
c = pd.merge(a,b,how='inner')

In [14]:
c

,id,sentence,subject_entity,object_entity,label,source
0,20,1971년 대선을 앞두고 김종필은 1971년 선거에서 박정희 당선을 위해 무려 60...,"{'word': '김종필', 'start_idx': 14, 'end_idx': 16...","{'word': '박정희', 'start_idx': 30, 'end_idx': 32...",per:colleagues,wikipedia
1,21,2010년에는 아시아 가수 최초로 마이클 잭슨의 곡을 리메이크하였는데 당시 마이클 ...,"{'word': '스티브 바라캇', 'start_idx': 67, 'end_idx'...","{'word': 'Steve Barakatt', 'start_idx': 75, 'e...",per:alternate_names,wikipedia
2,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",per:spouse,wikipedia
3,25,"SK는 또 ""해당 방송에서 언급한 지난해 12월5일 가로세로연구소 유튜브 방송 또한...","{'word': '노소영', 'start_idx': 110, 'end_idx': 1...","{'word': '최태원', 'start_idx': 67, 'end_idx': 69...",per:spouse,wikitree
4,27,"1824년에 있었던 첫 졸업식에는 대통령 제임스 먼로와 존 C. 칼훈, 헨리 클레이...","{'word': '존 C. 칼훈', 'start_idx': 31, 'end_idx'...","{'word': '제임스 먼로', 'start_idx': 23, 'end_idx':...",no_relation,wikipedia
...,...,...,...,...,...,...
5004,32438,"간 나오토는 총리 취임에 즈음해 당 간사장에 에다노 유키오, 내각관방장관에 센고쿠 ...","{'word': '에다노 유키오', 'start_idx': 25, 'end_idx'...","{'word': '센고쿠 요시토', 'start_idx': 42, 'end_idx'...",no_relation,wikipedia
5005,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...","{'word': '정종원', 'start_idx': 12, 'end_idx': 14...","{'word': '정재학', 'start_idx': 3, 'end_idx': 5, ...",per:parents,wikipedia
5006,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,"{'word': '선덕여왕', 'start_idx': 101, 'end_idx': ...","{'word': '진덕여왕', 'start_idx': 95, 'end_idx': 9...",no_relation,wikipedia
5007,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
5008,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia

In [15]:
c[c['object_entity'].apply(lambda x: eval(x)['type']=='PER')]

,id,sentence,subject_entity,object_entity,label,source
0,20,1971년 대선을 앞두고 김종필은 1971년 선거에서 박정희 당선을 위해 무려 60...,"{'word': '김종필', 'start_idx': 14, 'end_idx': 16...","{'word': '박정희', 'start_idx': 30, 'end_idx': 32...",per:colleagues,wikipedia
1,21,2010년에는 아시아 가수 최초로 마이클 잭슨의 곡을 리메이크하였는데 당시 마이클 ...,"{'word': '스티브 바라캇', 'start_idx': 67, 'end_idx'...","{'word': 'Steve Barakatt', 'start_idx': 75, 'e...",per:alternate_names,wikipedia
2,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",per:spouse,wikipedia
3,25,"SK는 또 ""해당 방송에서 언급한 지난해 12월5일 가로세로연구소 유튜브 방송 또한...","{'word': '노소영', 'start_idx': 110, 'end_idx': 1...","{'word': '최태원', 'start_idx': 67, 'end_idx': 69...",per:spouse,wikitree
4,27,"1824년에 있었던 첫 졸업식에는 대통령 제임스 먼로와 존 C. 칼훈, 헨리 클레이...","{'word': '존 C. 칼훈', 'start_idx': 31, 'end_idx'...","{'word': '제임스 먼로', 'start_idx': 23, 'end_idx':...",no_relation,wikipedia
...,...,...,...,...,...,...
5004,32438,"간 나오토는 총리 취임에 즈음해 당 간사장에 에다노 유키오, 내각관방장관에 센고쿠 ...","{'word': '에다노 유키오', 'start_idx': 25, 'end_idx'...","{'word': '센고쿠 요시토', 'start_idx': 42, 'end_idx'...",no_relation,wikipedia
5005,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...","{'word': '정종원', 'start_idx': 12, 'end_idx': 14...","{'word': '정재학', 'start_idx': 3, 'end_idx': 5, ...",per:parents,wikipedia
5006,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,"{'word': '선덕여왕', 'start_idx': 101, 'end_idx': ...","{'word': '진덕여왕', 'start_idx': 95, 'end_idx': 9...",no_relation,wikipedia
5007,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
5008,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia

In [16]:
c

,id,sentence,subject_entity,object_entity,label,source
0,20,1971년 대선을 앞두고 김종필은 1971년 선거에서 박정희 당선을 위해 무려 60...,"{'word': '김종필', 'start_idx': 14, 'end_idx': 16...","{'word': '박정희', 'start_idx': 30, 'end_idx': 32...",per:colleagues,wikipedia
1,21,2010년에는 아시아 가수 최초로 마이클 잭슨의 곡을 리메이크하였는데 당시 마이클 ...,"{'word': '스티브 바라캇', 'start_idx': 67, 'end_idx'...","{'word': 'Steve Barakatt', 'start_idx': 75, 'e...",per:alternate_names,wikipedia
2,22,"박흥식은 첫 부인과의 사이에 장녀 박병숙을 두었고, 두 번째 부인은 경희대학교 교수...","{'word': '박흥식', 'start_idx': 0, 'end_idx': 2, ...","{'word': '한인하', 'start_idx': 57, 'end_idx': 59...",per:spouse,wikipedia
3,25,"SK는 또 ""해당 방송에서 언급한 지난해 12월5일 가로세로연구소 유튜브 방송 또한...","{'word': '노소영', 'start_idx': 110, 'end_idx': 1...","{'word': '최태원', 'start_idx': 67, 'end_idx': 69...",per:spouse,wikitree
4,27,"1824년에 있었던 첫 졸업식에는 대통령 제임스 먼로와 존 C. 칼훈, 헨리 클레이...","{'word': '존 C. 칼훈', 'start_idx': 31, 'end_idx'...","{'word': '제임스 먼로', 'start_idx': 23, 'end_idx':...",no_relation,wikipedia
...,...,...,...,...,...,...
5004,32438,"간 나오토는 총리 취임에 즈음해 당 간사장에 에다노 유키오, 내각관방장관에 센고쿠 ...","{'word': '에다노 유키오', 'start_idx': 25, 'end_idx'...","{'word': '센고쿠 요시토', 'start_idx': 42, 'end_idx'...",no_relation,wikipedia
5005,32451,"반면 정재학의 3남인 정종원은 제5대 조흥은행장, 손자인 정운용은 제2대 조흥은행장...","{'word': '정종원', 'start_idx': 12, 'end_idx': 14...","{'word': '정재학', 'start_idx': 3, 'end_idx': 5, ...",per:parents,wikipedia
5006,32454,신라에서는 중기까지도 지배계층의 가계계승에 있어서 모계적인 경향이 그대로 존속되었고...,"{'word': '선덕여왕', 'start_idx': 101, 'end_idx': ...","{'word': '진덕여왕', 'start_idx': 95, 'end_idx': 9...",no_relation,wikipedia
5007,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia
5008,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia

In [17]:
train

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia
...,...,...,...,...,...,...
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32468,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [19]:
train[train['label']!='no_relation']

,id,sentence,subject_entity,object_entity,label,source
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
5,5,": 유엔, 유럽 의회, 북대서양 조약 기구 (NATO), 국제이주기구, 세계 보건 ...","{'word': '북대서양 조약 기구', 'start_idx': 13, 'end_i...","{'word': 'NATO', 'start_idx': 25, 'end_idx': 2...",org:alternate_names,wikipedia
7,7,"박용오(朴容旿, 1937년 4월 29일(음력 3월 19일)(음력 3월 19일) ~ ...","{'word': '박용오', 'start_idx': 0, 'end_idx': 2, ...","{'word': '1937년 4월 29일', 'start_idx': 9, 'end_...",per:date_of_birth,wikipedia
8,8,중공군에게 온전히 대항할 수 없을 정도로 약해진 국민당은 타이베이로 수도를 옮기는 ...,"{'word': '중화민국', 'start_idx': 59, 'end_idx': 6...","{'word': '타이베이', 'start_idx': 32, 'end_idx': 3...",org:place_of_headquarters,wikipedia
...,...,...,...,...,...,...
32464,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree
32465,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree
32466,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia
32467,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree
32469,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree

In [24]:
='org:top_members/employees','org:founded_by','org:alternate_names']

TypeError: '(0        False
1        False
2        False
3         True
4        False
         ...
32465    False
32466    False
32467     True
32468    False
32469     True
Name: label, Length: 32470, dtype: bool, 'org:founded_by', 'org:alternate_names')' is an invalid key

,id,gold_label,pred_label,probs
0,0,100,org:members,"[0.00057884311536327, 0.0002180445153499022, 0..."
1,1,100,per:alternate_names,"[3.022115151907201e-06, 4.5307548134587705e-05..."
2,2,100,no_relation,"[0.9998899698257446, 7.715317224210594e-06, 7...."
3,3,100,per:other_family,"[0.41120561957359314, 0.00021089380607008934, ..."
4,4,100,org:top_members/employees,"[0.0012245755642652512, 0.9984153509140015, 4...."
...,...,...,...,...
7760,7760,100,no_relation,"[0.6559950709342957, 0.0007126444834284484, 0...."
7761,7761,100,no_relation,"[0.999886155128479, 4.993907168682199e-06, 8.0..."
7762,7762,100,org:top_members/employees,"[1.0821405339811463e-05, 0.999811589717865, 2...."
7763,7763,100,no_relation,"[0.9923446774482727, 0.00013847206719219685, 3..."
7764,7764,100,no_relation,"[0.9997212290763855, 4.2581155867083e-05, 1.25..."

In [33]:
t=np.zeros(30)

In [36]:
t[0] = float(test['probs'][0][0])

ValueError: could not convert string to float: '['

In [37]:
TEST_LABEL_TO_ID = {'no_relation':0, 'org:top_members/employees':1, 'org:members':2, 'org:product':3, 
'per:title':4,}

In [38]:
TEST_LABEL_TO_ID['no_relation']

0

In [39]:
zeros = np.zeros(30)

In [40]:
label_idx = [1, 3, 5, 7]

In [86]:
test.loc[test['id'] == 0, 'pred_label'] = -500

In [87]:
test

,id,gold_label,pred_label,probs,zeros
0,0,100,-500,"[0.0, 0.00057884311536327, 0.0, 0.000218044515...",0
1,1,100,per:alternate_names,"[0.0, 3.022115151907201e-06, 0.0, 4.5307548134...",0
2,2,100,no_relation,"[0.0, 0.9998899698257446, 0.0, 7.7153172242105...",0
3,3,100,per:other_family,"[0.0, 0.41120561957359314, 0.0, 0.000210893806...",0
4,4,100,org:top_members/employees,"[0.0, 0.0012245755642652512, 0.0, 0.9984153509...",0
...,...,...,...,...,...
7760,7760,100,no_relation,"[0.0, 0.6559950709342957, 0.0, 0.0007126444834...",0
7761,7761,100,no_relation,"[0.0, 0.999886155128479, 0.0, 4.99390716868219...",0
7762,7762,100,org:top_members/employees,"[0.0, 1.0821405339811463e-05, 0.0, 0.999811589...",0
7763,7763,100,no_relation,"[0.0, 0.9923446774482727, 0.0, 0.0001384720671...",0
7764,7764,100,no_relation,"[0.0, 0.9997212290763855, 0.0, 4.2581155867083...",0

In [85]:
test[test['id']==0]['pred_label']

0    org:members
Name: pred_label, dtype: object

In [84]:
test

,id,gold_label,pred_label,probs,zeros
0,0,100,org:members,"[0.0, 0.00057884311536327, 0.0, 0.000218044515...",0
1,1,100,per:alternate_names,"[0.0, 3.022115151907201e-06, 0.0, 4.5307548134...",0
2,2,100,no_relation,"[0.0, 0.9998899698257446, 0.0, 7.7153172242105...",0
3,3,100,per:other_family,"[0.0, 0.41120561957359314, 0.0, 0.000210893806...",0
4,4,100,org:top_members/employees,"[0.0, 0.0012245755642652512, 0.0, 0.9984153509...",0
...,...,...,...,...,...
7760,7760,100,no_relation,"[0.0, 0.6559950709342957, 0.0, 0.0007126444834...",0
7761,7761,100,no_relation,"[0.0, 0.999886155128479, 0.0, 4.99390716868219...",0
7762,7762,100,org:top_members/employees,"[0.0, 1.0821405339811463e-05, 0.0, 0.999811589...",0
7763,7763,100,no_relation,"[0.0, 0.9923446774482727, 0.0, 0.0001384720671...",0
7764,7764,100,no_relation,"[0.0, 0.9997212290763855, 0.0, 4.2581155867083...",0

In [60]:
test['zeros']

0       0
1       0
2       0
3       0
4       0
       ..
7760    0
7761    0
7762    0
7763    0
7764    0
Name: zeros, Length: 7765, dtype: int64

In [67]:
eval(test['probs'].iloc[0])[1] = 0.3333

In [70]:
eval(test['probs'].iloc[0])

[0.00057884311536327,
 0.0002180445153499022,
 0.9639279246330261,
 0.003564955433830619,
 7.976425695233047e-05,
 0.02826537750661373,
 1.8083310351357795e-05,
 0.00017945178842637688,
 2.440638309053611e-05,
 0.00044030899880453944,
 0.0001309694634983316,
 5.976915781502612e-05,
 6.130493420641869e-05,
 8.238356531364843e-05,
 4.882526627625339e-05,
 4.01366050937213e-05,
 4.160825483268127e-05,
 3.313729393994436e-05,
 2.060331462416798e-05,
 0.0012245550751686096,
 0.00017544497677590698,
 7.830125832697377e-05,
 4.6499018935719505e-05,
 7.592483598273247e-05,
 6.369133188854903e-05,
 7.97384709585458e-05,
 0.00016105372924357653,
 9.114169370150194e-05,
 0.0001346935605397448,
 5.309180050971918e-05]

In [47]:
test['probs'].apply(lambda x: [p for p in x])

0       [[, 0, ., 0, 0, 0, 5, 7, 8, 8, 4, 3, 1, 1, 5, ...
1       [[, 3, ., 0, 2, 2, 1, 1, 5, 1, 5, 1, 9, 0, 7, ...
2       [[, 0, ., 9, 9, 9, 8, 8, 9, 9, 6, 9, 8, 2, 5, ...
3       [[, 0, ., 4, 1, 1, 2, 0, 5, 6, 1, 9, 5, 7, 3, ...
4       [[, 0, ., 0, 0, 1, 2, 2, 4, 5, 7, 5, 5, 6, 4, ...
                              ...
7760    [[, 0, ., 6, 5, 5, 9, 9, 5, 0, 7, 0, 9, 3, 4, ...
7761    [[, 0, ., 9, 9, 9, 8, 8, 6, 1, 5, 5, 1, 2, 8, ...
7762    [[, 1, ., 0, 8, 2, 1, 4, 0, 5, 3, 3, 9, 8, 1, ...
7763    [[, 0, ., 9, 9, 2, 3, 4, 4, 6, 7, 7, 4, 4, 8, ...
7764    [[, 0, ., 9, 9, 9, 7, 2, 1, 2, 2, 9, 0, 7, 6, ...
Name: probs, Length: 7765, dtype: object

In [73]:
pred_probs = []
for idx, r in test.iterrows():
    zeros = np.zeros(30)
    for jdx, p in zip(label_idx, eval(r['probs'])):
        zeros[jdx] = p
    pred_probs.append(list(zeros))

In [75]:
test['probs']=pred_probs

In [89]:
test.loc[0,['pred_label','probs']] = [1,[0,303003]]

In [90]:
test

,id,gold_label,pred_label,probs,zeros
0,0,100,1,"[0, 303003]",0
1,1,100,per:alternate_names,"[0.0, 3.022115151907201e-06, 0.0, 4.5307548134...",0
2,2,100,no_relation,"[0.0, 0.9998899698257446, 0.0, 7.7153172242105...",0
3,3,100,per:other_family,"[0.0, 0.41120561957359314, 0.0, 0.000210893806...",0
4,4,100,org:top_members/employees,"[0.0, 0.0012245755642652512, 0.0, 0.9984153509...",0
...,...,...,...,...,...
7760,7760,100,no_relation,"[0.0, 0.6559950709342957, 0.0, 0.0007126444834...",0
7761,7761,100,no_relation,"[0.0, 0.999886155128479, 0.0, 4.99390716868219...",0
7762,7762,100,org:top_members/employees,"[0.0, 1.0821405339811463e-05, 0.0, 0.999811589...",0
7763,7763,100,no_relation,"[0.0, 0.9923446774482727, 0.0, 0.0001384720671...",0
7764,7764,100,no_relation,"[0.0, 0.9997212290763855, 0.0, 4.2581155867083...",0