In [1]:
import pandas as pd
df = pd.read_csv('/opt/ml/dataset/train/train_drop_duplicate.csv')
df.columns

Index(['Unnamed: 0', 'index', 'sentence', 'subject_entity', 'object_entity',
       'label', 'source'],
      dtype='object')

In [2]:
del df['Unnamed: 0']

In [3]:
df['sub_type'] = df['subject_entity'].apply(lambda x : eval(x)['type'])
df

,index,sentence,subject_entity,object_entity,label,source,sub_type
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia,ORG
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree,ORG
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree,ORG
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree,ORG
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia,ORG
...,...,...,...,...,...,...,...
32423,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree,PER
32424,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia,PER
32425,32467,완도군(군수 신우철)이 국토교통부에서 실시한 '2019 교통문화지수 실태조사'에서 ...,"{'word': '완도군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '신우철', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree,ORG
32426,32468,"중앙일보, JTBC 회장을 지낸 이후 중앙홀딩스 회장, 재단법인 한반도평화만들기 이...","{'word': 'JTBC', 'start_idx': 6, 'end_idx': 9,...","{'word': '중앙홀딩스', 'start_idx': 21, 'end_idx': ...",no_relation,wikipedia,ORG
32427,32469,화순군(군수 구충곤)은 17일 동면의 이장 20여 명이 코로나 19 예방을 위해 버...,"{'word': '화순군', 'start_idx': 0, 'end_idx': 2, ...","{'word': '구충곤', 'start_idx': 7, 'end_idx': 9, ...",org:top_members/employees,wikitree,ORG

In [4]:
# df[(df['sub_type']=='ORG')&(df['label']=='no_relation')] #  5396개
org_df =df[(df['sub_type']=='ORG')&(df['label']!='no_relation')]   # 10269개

In [5]:
# df[(df['sub_type']=='PER')&(df['label']=='no_relation')] #  4121개
per_df = df[(df['sub_type']=='PER')&(df['label']!='no_relation')]   # 12642개 12638개

In [6]:
org_df.reset_index(inplace = True,drop=True)
per_df.reset_index(inplace = True,drop=True)

In [7]:
# org_df.to_csv('/opt/ml/code/for_binary/data/org_train.csv',index =False)
# per_df.to_csv('/opt/ml/code/for_binary/data/per_train.csv',index =False)
org_df['label'].unique()

array(['org:member_of', 'org:top_members/employees',
       'org:alternate_names', 'org:place_of_headquarters', 'org:members',
       'org:founded_by', 'org:political/religious_affiliation',
       'org:founded', 'org:number_of_employees/members', 'org:dissolved',
       'org:product'], dtype=object)

In [9]:
per_label_list = ['per:title', 
   'per:employee_of', 'per:product', 'per:children',
   'per:place_of_residence', 'per:alternate_names',
   'per:other_family', 'per:colleagues', 'per:origin', 'per:siblings',
   'per:spouse', 'per:parents',
   'per:schools_attended', 'per:date_of_death', 'per:date_of_birth',
   'per:place_of_birth', 'per:place_of_death', 'per:religion']
per_dict_n_to_l = {v :i for i,v in enumerate(per_label_list)}

In [11]:
per_dict_n_to_l = {v :i for i,v in enumerate(per_label_list)}
per_dict_n_to_l

{'per:title': 0,
 'per:employee_of': 1,
 'per:product': 2,
 'per:children': 3,
 'per:place_of_residence': 4,
 'per:alternate_names': 5,
 'per:other_family': 6,
 'per:colleagues': 7,
 'per:origin': 8,
 'per:siblings': 9,
 'per:spouse': 10,
 'per:parents': 11,
 'per:schools_attended': 12,
 'per:date_of_death': 13,
 'per:date_of_birth': 14,
 'per:place_of_birth': 15,
 'per:place_of_death': 16,
 'per:religion': 17}

In [12]:
org_label_list = ['org:top_members/employees', 'org:members',
   'org:product', 'org:alternate_names','org:place_of_headquarters',
   'org:number_of_employees/members','org:founded', 'org:political/religious_affiliation',
   'org:member_of', 'org:dissolved','org:founded_by']
org_dict_n_to_l = {v :i for i,v in enumerate(org_label_list)}

11

In [13]:
org_dict_n_to_l = {v :i for i,v in enumerate(org_label_list)}
org_dict_n_to_l

{'org:top_members/employees': 0,
 'org:members': 1,
 'org:product': 2,
 'org:alternate_names': 3,
 'org:place_of_headquarters': 4,
 'org:number_of_employees/members': 5,
 'org:founded': 6,
 'org:political/religious_affiliation': 7,
 'org:member_of': 8,
 'org:dissolved': 9,
 'org:founded_by': 10}

In [14]:
import pandas as pd

df = pd.read_csv('/opt/ml/code/for_binary/data/per_train.csv')

In [17]:
df['label'].unique()

array(['per:date_of_birth', 'per:employee_of', 'per:origin', 'per:title',
       'per:schools_attended', 'per:colleagues', 'per:alternate_names',
       'per:spouse', 'per:children', 'per:place_of_birth', 'per:parents',
       'per:religion', 'per:date_of_death', 'per:place_of_residence',
       'per:other_family', 'per:siblings', 'per:product',
       'per:place_of_death', 'org:members', 'org:top_members/employees',
       'org:founded_by', 'org:place_of_headquarters'], dtype=object)

In [35]:
ls = ['org:members', 'org:top_members/employees','org:founded_by', 'org:place_of_headquarters']
per_df = per_df.drop([1179,5808,8377,11246])
per_df.reset_index(drop=True,inplace=True)
per_df['label'].unique()

array(['per:date_of_birth', 'per:employee_of', 'per:origin', 'per:title',
       'per:schools_attended', 'per:colleagues', 'per:alternate_names',
       'per:spouse', 'per:children', 'per:place_of_birth', 'per:parents',
       'per:religion', 'per:date_of_death', 'per:place_of_residence',
       'per:other_family', 'per:siblings', 'per:product',
       'per:place_of_death'], dtype=object)

In [37]:
per_df

,index,sentence,subject_entity,object_entity,label,source,sub_type
0,7,"박용오(朴容旿, 1937년 4월 29일(음력 3월 19일)(음력 3월 19일) ~ ...","{'word': '박용오', 'start_idx': 0, 'end_idx': 2, ...","{'word': '1937년 4월 29일', 'start_idx': 9, 'end_...",per:date_of_birth,wikipedia,PER
1,9,"특히 김동연 전 경제부총리를 비롯한 김두관 국회의원, 안규백 국회의원, 김종민 국회...","{'word': '안규백', 'start_idx': 30, 'end_idx': 32...","{'word': '더불어민주당', 'start_idx': 100, 'end_idx'...",per:employee_of,wikitree,PER
2,10,하비에르 파스토레는 아르헨티나 클럽 타예레스의 유소년팀에서 축구를 시작하였다.,"{'word': '하비에르 파스토레', 'start_idx': 0, 'end_idx...","{'word': '아르헨티나', 'start_idx': 11, 'end_idx': ...",per:origin,wikipedia,PER
3,11,이른바 'Z세대'로 불리는 1990년대 중반 이후 태어난 세대에게 대표 아이콘으로 ...,"{'word': '빌리 아일리시', 'start_idx': 60, 'end_idx'...","{'word': '싱어송라이터', 'start_idx': 53, 'end_idx':...",per:title,wikitree,PER
4,15,"성명에는 더불어민주당 이상민 대전광역시당 위원장, 이춘희 세종특별자치시당 위원장, ...","{'word': '노영민', 'start_idx': 96, 'end_idx': 98...","{'word': '더불어민주당', 'start_idx': 5, 'end_idx': ...",per:employee_of,wikipedia,PER
...,...,...,...,...,...,...,...
12633,32461,1852년 미국 대통령 선거에서 휘그당은 미국-멕시코 전쟁의 영웅 테일러 장군의 사...,"{'word': '밀러드 필모어', 'start_idx': 66, 'end_idx'...","{'word': '휘그당', 'start_idx': 18, 'end_idx': 20...",per:employee_of,wikipedia,PER
12634,32463,"그의 외삼촌은 루이 13세로, 남편인 루이 14세는 외사촌 오빠가 된다.","{'word': '루이 14세', 'start_idx': 21, 'end_idx':...","{'word': '루이 13세', 'start_idx': 8, 'end_idx': ...",per:other_family,wikipedia,PER
12635,32464,KIA타이거즈 외야수 이창진이 롯데백화점 광주점이 시상하는 9월 월간 MVP에 선정...,"{'word': '이창진', 'start_idx': 12, 'end_idx': 14...","{'word': '외야수', 'start_idx': 8, 'end_idx': 10,...",per:title,wikitree,PER
12636,32465,한국당은 7일 오전 9시부터 오후 5시까지 진행된 원내대표 및 정책위의장 후보자 등...,"{'word': '유기준', 'start_idx': 93, 'end_idx': 95...","{'word': '부산 서구·동구', 'start_idx': 100, 'end_id...",per:employee_of,wikitree,PER
12637,32466,"법포는 다시 최시형, 서병학, 손병희 직계인 북접과 다시 서장옥, 전봉준, 김개남을...","{'word': '최시형', 'start_idx': 7, 'end_idx': 9, ...","{'word': '손병희', 'start_idx': 17, 'end_idx': 19...",per:colleagues,wikipedia,PER

In [38]:
per_df.to_csv('/opt/ml/code/for_binary/data/per_train.csv')

In [28]:
del per_df[per_df['label']=='org:founded_by']

,index,sentence,subject_entity,object_entity,label,source,sub_type
8377,21482,"1921년 하심가 출신인 압둘라 1세를 영입하여 트란스요르단을 세웠고, 제2차 세계...","{'word': '압둘라 1세', 'start_idx': 14, 'end_idx':...","{'word': '요르단', 'start_idx': 30, 'end_idx': 32...",org:founded_by,wikipedia,PER

In [29]:
del per_df[per_df['label']=='org:place_of_headquarters']

,index,sentence,subject_entity,object_entity,label,source,sub_type
11246,28891,이렇게 싹튼 우크라이나 민족주의는 19세기 초 키예프를 중심으로 제정 러시아의 지배...,"{'word': '키예프', 'start_idx': 26, 'end_idx': 28...","{'word': '우크라이나', 'start_idx': 90, 'end_idx': ...",org:place_of_headquarters,wikipedia,PER